body {
	background: linear-gradient(
		/* to right top,  */ -120deg,
		#d8e2dc,
		#ffe5d9,
		#ffcad4,
		#f4acb7 /* #696d7d */
	);
	/* background: linear-gradient(-120deg, lightgreen, lightblue); */
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	color: #696d7d;
}
/* clock */
#clock {
	font-size: 45px;
	color: #696d7d;
	margin-bottom: 20px;
	text-align: center;
}
/* countdown timer */
#count-down {
	background: linear-gradient(12deg, #efb5a1, #d0d7d8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* background-color: rgba(221, 160, 221, 0.2); */
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
	max-width: 650px;
	min-width: 350px;
	padding: 20px;
	border: 3px #696d7d solid;
	border-radius: 20px;
}
#display-days,
#display-hours,
#display-minutes,
#display-seconds {
	margin: 20px;
	text-align: center;
	font-size: 45px;
}
p {
	margin: 20px;
	font-size: 30px;
	color: #696d7d;
}
.heart {
	padding: 40px;
	font-weight: bold;
	font-size: large;
	color: deeppink;
}
@media only screen and (max-width: 678px) {
	#display-days,
	#display-hours,
	#display-minutes,
	#display-seconds {
		font-size: 20px;
	}
	#days p,
	#hours p {
		font-size: 16px;
		margin: 0 5px;
		text-align: center;
	}

	#minutes p,
	#seconds p {
		font-size: 16px;
		margin: 0 3px;
		text-align: center;
	}
}
